@import url("https://fonts.googleapis.com/css2?family=Familjen+Grotesk:wght@400;500;700&amp;family=Manrope:wght@400;500;700&amp;display=swap");
:root {
  --plyr-color-main: #2234ae;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #2b2d42;
  font-family: Familjen Grotesk, sans-serif;
  font-weight: 700;
  letter-spacing: -0.025em;
  line-height: 1.15;
  margin-bottom: 16px;
}
body {
  color: #5e607e;
  font-family: Manrope, sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.7;
}
a {
  color: #6a6b7c;
  transition: 0.3s;
}
a:hover {
  color: #2234ae;
}
p:last-child {
  margin-bottom: 0;
}
.tc_primary {
  color: #2234ae;
}
.tc_heading {
  color: #2b2d42;
}
.tc_yellow {
  color: #e6cb52;
}
.ff_heading {
  font-family: Familjen Grotesk, sans-serif;
  letter-spacing: -0.025em;
}
.logo {
  width: 120px;
}
.hover_primary_color {
  transition: 0.3s;
}
.hover_primary_color:hover {
  color: #2234ae;
}
.card-body {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  padding: 1.8rem 1.8rem;
}
.card {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: var(--elixir-card-bg);
  background-clip: border-box;
  border: 0 solid var(--elixir-card-border-color);
  border-radius: 0.625rem;
}
.py-home {
  padding-bottom: 150px;
}
.pt-home,
.py-home {
  padding-top: 150px;
}
.pb-home {
  padding-bottom: 150px;
}
.mt-min-42 {
  margin-top: -42px;
}
.mt-150 {
  margin-top: 150px;
}
button.disabled {
  display: none;
}
.rdn_list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.rdn_list li {
  align-items: flex-start;
  display: flex;
  margin-bottom: 16px;
  padding: 0;
}
.rdn_list li:before {
  background-color: #fcf5f7;
  border-radius: 50px;
  color: #2234ae;

  content: "\f00c";
  flex-shrink: 0;
  font-family: Font Awesome\5 Free;
  font-size: 11px;
  font-weight: 700;
  height: 25px;
  line-height: 25px;
  margin: 5px 10px 0 0;
  text-align: center;
  width: 25px;
}
.slider_linear {
  transition-timing-function: linear;
}
.scrollToTopBtn {
  background-color: #fcf5f7;
  bottom: 30px;
  color: #2234ae;

  cursor: pointer;
  display: inline-flex;
  opacity: 0;
  padding: 15px;
  position: fixed;
  right: 30px;
  transition: 0.3s;
  z-index: 333;
}
.scrollToTopBtn:hover {
  background-color: #171823;
  box-shadow: 0 1rem 3rem rgba(43, 45, 66, 0.2);
  color: #fff;
}
.ls-wide {
  letter-spacing: 0.7rem;
}
.circle-border {
  border: 1px dashed;
  border-radius: 100px;
  height: 145px;
  width: 145px;
}
.border_special_primary {
  position: relative;
}
.border_special_primary:before {
  background-color: #fff;
  box-shadow: 0 0.225rem 0.25rem rgba(43, 45, 66, 0.075);
  inset: 0;
  z-index: -1;
}
.border_special_primary:after,
.border_special_primary:before {
  border-radius: 6px;
  content: "";
  height: 100%;
  position: absolute;
  width: 100%;
}
.border_special_primary:after {
  background-color: #2234ae;

  bottom: -20px;
  right: -20px;
  z-index: -2;
}
.scroll-margin {
  scroll-margin-top: 100px;
}
.demo_row_link a img {
  box-shadow: 0 0.225rem 0.25rem rgba(43, 45, 66, 0.075);
  transition: 0.5s;
}
.demo_row_link a:hover img {
  box-shadow: 0 0.5rem 1rem rgba(43, 45, 66, 0.15);
  transform: translateY(-10px);
}
@keyframes ripple {
  0% {
    box-shadow: 0 0 0 0 hsla(0, 0%, 100%, 0.3), 0 0 0 1em hsla(0, 0%, 100%, 0.2),
      0 0 0 2em hsla(0, 0%, 100%, 0.1);
  }
  to {
    box-shadow: 0 0 0 1em hsla(0, 0%, 100%, 0.1),
      0 0 0 2em hsla(0, 0%, 100%, 0.05), 0 0 0 3em hsla(0, 0%, 100%, 0);
  }
}
@keyframes float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10px);
  }
  to {
    transform: translateY(0);
  }
}
@keyframes rotate {
  0% {
    transform: rotate(0);
  }
  50% {
    transform: rotate(-180deg);
  }
  to {
    transform: rotate(-1turn);
  }
}
.ani-ripple {
  animation: ripple 1s linear infinite;
}
.ani-float {
  animation: float linear infinite;
}
.ani-rotate {
  animation: rotate linear infinite;
}
.ani-long {
  animation-duration: 8s;
}
.ani-short {
  animation-duration: 4s;
}
.ani-delay {
  animation-delay: 1s;
}
.rdn_btn {
  background-color: #2234ae;

  color: #fff;
  transform: translateY(0);
}
.rdn_btn:hover {
  background-color: #fcf5f7;
  color: #2234ae;

  transform: translateY(5px);
}
.rdn_btn.btn_black {
  background-color: #2b2d42;
}
.rdn_btn.btn_black:hover {
  background-color: #b6b8cf;
  color: #2b2d42;
}
.rdn_btn.btn_line {
  background-color: transparent;
  border: 1px solid;
}
.rdn_btn.btn_line:hover {
  background-color: #2234ae;

  border-color: #2234ae;

  color: #fff;
}
.rdn_btn.btn_line_dark {
  background-color: transparent;
  border: 1px solid;
  color: #2b2d42;
}
.rdn_btn.btn_line_dark:hover {
  background-color: #2234ae;

  border-color: #2234ae;

  color: #fff;
}
.rdn_btn.btn_white {
  background-color: #fff;
  color: #2234ae;
}
.rdn_btn.btn_white:hover {
  background-color: #171823;
  color: #fff;
}
.position-relative .absolute_button {
  align-items: center;
  display: flex;
  inset: 0;
  justify-content: center;
  position: absolute;
  z-index: 1;
}
.position-relative .absolute_button i {
  background-color: #fff;
  border-radius: 100%;
  color: #2234ae;

  padding: 30px;
  transition: 0.3s;
}
.position-relative .absolute_button i:hover {
  transform: scale(1.1);
}
.position-relative .absolute_button.small_btn i {
  padding: 12px;
}
.bg_image {
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
}
.bg_position_top {
  background-position: top;
}
.bg_position_bottom {
  background-position: bottom;
}
.bg_fixed {
  background-attachment: fixed;
}
.img_with_video {
  height: 600px;
  object-fit: cover;
  width: 100%;
}
.img_with_video a {
  left: 50%;
  position: absolute;
  top: 50%;
}
.bg_auto {
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: auto;
}
.bg_dark {
  background-color: #171823;
}
.bg_half_gray {
  background: linear-gradient(0deg, #fafafc 50%, transparent 0);
}
.bg_half_gray_white {
  background: linear-gradient(0deg, #fff 50%, #fafafc 0);
}
.bg_thrid_gray {
  background: linear-gradient(0deg, #fafafc 33%, transparent 0);
}
.bg_thrid_dark {
  background: linear-gradient(0deg, #171823 33%, transparent 0);
}
.bg_half_white {
  background: linear-gradient(0deg, #fff 50%, transparent 0);
}
.bg_special {
  height: 100%;
  position: absolute;
  top: -40%;
  width: 100%;
  z-index: 0;
}
.bg_gray {
  background-color: #fafafc;
}
.bg_one {
  background-image: url(../img/bg/bg1.jpg);
}
.bg_two {
  background-image: url(../img/bg/bg2.jpg);
}
.bg_three {
  background-image: url(../img/bg/bg3.jpg);
}
.bg_four {
  background-image: url(../img/bg/bg4.jpg);
}
.bg_five {
  background-image: url(../img/bg/bg5.jpeg);
}
.bg_six {
  background-image: url(../img/bg/bg6.jpg);
}
.bg_seven {
  background-image: url(../img/bg/bg7.jpg);
}
.bg_pattern {
  background-image: url(../img/bg/pattern1.jpg);
}
.bg_pattern2 {
  background-image: url(../img/bg/pattern2.jpg);
}
.bg_pattern3 {
  background-image: url(../img/bg/pattern3.jpg);
}
.bg_home {
  background-image: url(../img/bg/bg-home.jpg);
}
.bg_home_two {
  background-image: url(../img/bg/bg-home2.jpg);
}
.bg_home_dark {
  background-image: url(../img/bg/bg-home-dark.jpg);
}
.bg_white_img {
  background-image: url(../img/bg/bg-white-1.jpg);
}
.bg_white_img_two {
  background-image: url(../img/bg/bg-white-2.jpg);
}
.bg_white_img_three {
  background-image: url(../img/bg/bg-white-3.jpg);
}
.bg_wave {
  background-image: url(../img/bg/wave.svg);
}
.bg_wave_two {
  background-image: url(../img/bg/wave2.svg);
}
.bg_dark_pattern {
  background-image: url(../img/bg/bg-dark-pattern.jpg);
}
.bg_rounded {
  background-image: url(../img/bg/rounded.svg);
}
.bg_footer {
  background-image: url(../img/bg/bg-footer.jpg);
  position: relative;
  z-index: 1;
}
.bg_footer:after {
  background: linear-gradient(
    180deg,
    rgba(23, 24, 35, 0.1),
    rgba(23, 24, 35, 0.3) 30%,
    rgba(23, 24, 35, 0.5) 70%
  );
  content: "";
  inset: 0;
  position: absolute;
  z-index: -1;
}
.bg_footer_two {
  background-image: url(../img/bg/bg-white-2.jpg);
}
.bg_with_mask {
  overflow: hidden;
  position: relative;
  z-index: 1;
}
.bg_with_mask:after {
  background: rgba(23, 24, 35, 0.8);
  content: "";
  inset: 0;
  position: absolute;
  z-index: -1;
}
.bg_primary {
  background-color: #2234ae;
}
.bg_green {
  background-color: #7ac43d;
}
.bg_blue {
  background-color: #56a9e0;
}
.bg_yellow {
  background-color: #e6cb52;
}
.bg_green_light {
  background-color: #fbfdf9;
}
.bg_blue_light {
  background-color: #f5fafd;
}
.bg_yellow_light {
  background-color: #fefdf7;
}
.bg_primary_light {
  background-color: #fcf5f7;
}
.text-line {
  position: relative;
}
.text-line:after {
  background-image: url(../img/bg/text-line.svg);
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: contain;
  content: "";
  height: 100%;
  inset: 0;
  position: absolute;
  width: 100%;
  z-index: -1;
}
.rdn_nav {
  z-index: 999;
}
.rdn_nav .has_child {
  position: relative;
}
.rdn_nav .has_child > a:after {
  color: #2234ae;

  content: "\f107";
  font-family: Font Awesome\5 Free;
  font-size: 12px;
  font-weight: 700;
  margin-left: 8px;
}
.rdn_nav .has_child .has_child > a:after {
  content: "\f105";
}
.rdn_nav .has_child .nav_menu_child {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0.225rem 0.25rem rgba(43, 45, 66, 0.075);
  left: 0;
  list-style: none;
  margin: 48px 0 0;
  opacity: 0;
  padding: 32px;
  position: absolute;
  top: 100%;
  transform: translateY(10px);
  transition: transform 0s, all 0.1s;
  transition-delay: 0.1s;
  visibility: hidden;
  width: 220px;
  z-index: -1;
}
.rdn_nav .has_child .nav_menu_child li {
  margin-bottom: 10px;
}
.rdn_nav .has_child .nav_menu_child li:last-child {
  margin-bottom: 0;
}
.rdn_nav .has_child .nav_menu_child .nav_menu_child {
  left: 100%;
  margin: 0 0 0 40px;
  top: 0;
}
.rdn_nav .has_child.active > .nav_menu_child {
  opacity: 1;
  transform: translateY(0);
  transition: transform 0.2s ease, all 0s linear;
  transition-delay: 0.1s;
  visibility: visible;
  z-index: 333;
}
.cloned {
  left: 0;
  opacity: 0;
  position: fixed;
  top: 0;
  transform: translateY(-30px);
  transition: 0.1s ease-in-out;
  visibility: hidden;
  width: 100%;
  z-index: 800;
}
.cloned.fixed_menu {
  opacity: 1;
  transform: translateY(0);
  transition: 0.3s ease-in-out;
  visibility: visible;
}
.cloned.fixed_menu .rdn_nav {
  left: 0;
  top: 0;
}
.dark_nav .list-unstyled:not(.mobile_menu) > li > a {
  color: #fff;
}
.dark_nav .list-unstyled:not(.mobile_menu) > li > a:hover {
  color: #2234ae;
}
.dark_nav .mobile_menu_btn {
  color: #fff;
}
.dark_nav .mobile_menu_btn:hover {
  color: #2234ae;
}
.cloned .dark_nav {
  background-color: #171823;
}
#mobilemenu {
  background: #fff;
  font-size: 15px;
  font-weight: 700;
  width: 280px;
}
.offcanvas-header {
  padding: 0;
  position: relative;
}
.offcanvas-header .close_mb {
  background: transparent;
  border: none;
  box-shadow: none;
  font-size: 20px;
  padding: 0;
  position: absolute;
  right: 30px;
  top: 30px;
}
.offcanvas-body {
  padding: 30px;
}
.offcanvas-body .logo_mobile {
  display: inline-block;
  width: 60px;
}
.offcanvas-body .mobile_menu {
  padding: 32px 0;
}
.offcanvas-body .mobile_menu li a {
  display: inline-block;
  padding: 5px 0;
}
.offcanvas-body .mobile_menu .mdropdown {
  position: relative;
}
.offcanvas-body .mobile_menu .mdropdown .mdropdown_child {
  display: none;
  padding: 8px 0 8px 16px;
}
.offcanvas-body .mobile_menu .mdropdown .mdropdown_child li {
  list-style: none;
  margin: 0;
  padding: 0;
}
.offcanvas-body .mobile_menu .mdropdown i {
  align-self: center;
  color: #2234ae;

  cursor: pointer;
  display: block;
  font-size: 12px;
  height: 30px;
  line-height: 30px;
  position: absolute;
  right: 0;
  text-align: center;
  top: 0;
  transition: 0.3s;
  width: 30px;
  z-index: 1;
}
.offcanvas-body .mobile_menu .mdropdown.active > i {
  transform: rotate(180deg);
}
.home_img_absolute {
  max-width: 50%;
  position: absolute;
  right: -100px;
  top: -150px;
  z-index: 0;
}
.home_img_absolute:after {
  background-color: #f8e6f5;
  border-radius: 10px;
  bottom: 0;
  content: "";
  height: 80%;
  position: absolute;
  right: -110%;
  width: 200%;
  z-index: -1;
}
.box_home_strech {
  margin-bottom: -214px;
  margin-left: -50%;
  position: relative;
  z-index: 3;
}
.box_home_strech img {
  height: 800px;
  object-fit: cover;
  width: 100%;
}
.home_ava {
  height: 90px;
  object-fit: cover;
  width: 90px;
}
.home_ava_icon {
  align-items: center;
  background-color: #2234ae;

  border-radius: 8px 0 0 0;
  color: #fff;
  display: flex;
  height: 32px;
  justify-content: center;
  width: 32px;
}
.home_video {
  margin-bottom: -150px;
}
.home_video .plyr--video {
  border-radius: 16px;
  position: relative;
  z-index: 1;
}
.home_video_txt {
  display: flex;
  flex-direction: column;
}
.home_video_txt p {
  background-color: #fcf5f7;
  border-radius: 6px;
  box-shadow: 0 0.225rem 0.25rem rgba(43, 45, 66, 0.075);
  display: inline-flex;
  flex-grow: 0;
  font-size: 12px;
  font-weight: 600;
  padding: 8px 16px;
  text-transform: uppercase;
  transform: rotate(-10deg);
}
.home_video_txt img {
  display: inline-flex;
  flex-grow: 0;
  height: auto;
  width: 60px;
}
.stat_content {
  margin-top: -100px;
}
.about_icon {
  background-color: #2234ae;

  border-radius: 100px;
  box-shadow: 0 0.225rem 0.25rem rgba(43, 45, 66, 0.075);
  color: #fff;
  height: 48px;
  width: 48px;
}
.about_big_text,
.about_icon {
  align-items: center;
  display: flex;
  justify-content: center;
}
.about_big_text {
  border: 4px solid;
  border-radius: 100%;
  font-size: 42px;
  font-weight: 700;
  height: 96px;
  letter-spacing: -0.33rem;
  line-height: 1;
  opacity: 0.05;
  padding: 10px;
  position: absolute;
  right: 0;
  top: 40px;
  width: 96px;
  z-index: 0;
}
.abt_box {
  position: relative;
}
.abt_box img {
  height: 400px;
  object-fit: cover;
  width: 100%;
}
.abt_box .abt_box_link {
  align-items: start;
  background: linear-gradient(0, transparent, rgba(23, 24, 35, 0.1) 70%);
  display: flex;
  inset: 0;
  overflow: hidden;
  position: absolute;
}
.abt_box .abt_box_link .abt_box_content {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
  opacity: 0;
  padding: 32px;
  transform: translateY(100px);
  transition: 0.3s;
  width: 100%;
}
.abt_box .abt_box_link .abt_box_content .abt_text {
  align-items: center;
  display: flex;
  gap: 8px;
}
.abt_box .abt_box_link .abt_box_content .abt_text h3 {
  color: #fff;
  flex-grow: 0;
  margin: 0;
  width: 60%;
}
.abt_box .abt_box_link .abt_box_content .abt_text p {
  color: #fff;
  flex-grow: 0;
  margin: 0;
  width: 40%;
}
.abt_box .abt_box_link .abt_box_content .abt_text.abt_narrow {
  flex-direction: column;
  gap: 0;
}
.abt_box .abt_box_link .abt_box_content .abt_text.abt_narrow h3 {
  font-size: 1.414rem;
  margin-bottom: 16px;
}
.abt_box .abt_box_link .abt_box_content .abt_text.abt_narrow h3,
.abt_box .abt_box_link .abt_box_content .abt_text.abt_narrow p {
  width: 100%;
}
.abt_box .abt_box_link .abt_box_content i {
  align-items: center;
  align-self: flex-end;
  border: 1px solid;
  border-radius: 100px;
  color: #fff;
  display: flex;
  font-size: 16px;
  height: 40px;
  justify-content: center;
  width: 40px;
}
.abt_box .abt_box_link:hover {
  background: linear-gradient(0, transparent, rgba(23, 24, 35, 0.9) 70%);
}
.abt_box .abt_box_link:hover .abt_box_content {
  opacity: 1;
  transform: translateY(0);
}
.abt_motto {
  margin-top: -100px;
}
.abt_motto i {
  color: #e6cb52;
  font-size: 50px;
  position: absolute;
  right: 16px;
  top: 16px;
}
.event_one_slider {
  margin-right: -40%;
  overflow: hidden;
}
.event_one_box {
  background-color: #171823;
  overflow: hidden;
}
.event_one_box img {
  height: 400px;
  object-fit: cover;
  opacity: 1;
  transform: scale(1) rotate(0);
  transition: 0.5s;
  width: 100%;
}
.event_one_box.img_short {
  margin-top: 40px;
}
.event_one_box.img_short img {
  height: 320px;
}
.event_one_box .event_one_link {
  align-items: end;
  background: linear-gradient(180deg, transparent, rgba(23, 24, 35, 0.1) 70%);
  display: flex;
  inset: 0;
  position: absolute;
}
.event_one_box .event_one_link .event_one_content {
  opacity: 0;
  padding: 32px;
  transform: translateY(100px);
  transition: 0.3s;
  width: 100%;
}
.event_one_box .event_one_link .event_one_content h3,
.event_one_box .event_one_link .event_one_content p {
  color: #fff;
  margin: 0;
}
.event_one_box .event_one_link:hover {
  background: linear-gradient(180deg, transparent, rgba(23, 24, 35, 0.9) 70%);
}
.event_one_box .event_one_link:hover .event_one_content {
  opacity: 1;
  transform: translateY(0);
}
.event_one_box:hover img {
  opacity: 0.3;
  transform: scale(1.2) rotate(2deg);
}
.event_one_nav {
  display: flex;
  gap: 8px;
}
.event_one_nav a {
  align-items: center;
  background-color: #fcf5f7;
  border-radius: 100px;
  color: #2234ae;

  display: flex;
  height: 40px;
  justify-content: center;
  width: 40px;
}
.event_one_nav a:hover {
  background-color: #2234ae;

  color: #fff;
}
.event_two_box {
  margin: 0;
  position: relative;
  transition: 0.6s;
  z-index: 1;
}
.event_two_box .eb_icon {
  align-items: center;
  border-radius: 8px;
  color: #fff;
  display: flex;
  font-size: 24px;
  height: 42px;
  justify-content: center;
  position: absolute;
  right: 32px;
  top: 32px;
  width: 42px;
  z-index: 1;
}
.event_two_box .eb_icon,
.event_two_box img {
  box-shadow: 0 0.225rem 0.25rem rgba(43, 45, 66, 0.075);
}
.event_two_box img {
  border-radius: 6px;
  height: 400px;
  object-fit: cover;
  width: 100%;
}
.event_two_box .event_two_box_content {
  align-items: start;
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  inset: 0;
  justify-content: end;
  opacity: 0;
  padding: 32px;
  position: absolute;
  transform: translateY(10px);
  transition: 0.5s;
}
.event_two_box .event_two_box_content p {
  align-items: center;
  color: #fff;
  display: flex;
  gap: 4px;
  margin-bottom: 8px;
}
.event_two_box .event_two_box_content p i {
  align-items: center;
  background-color: #fcf5f7;
  border-radius: 100px;
  color: #2234ae;

  display: flex;
  flex-shrink: 0;
  height: 32px;
  justify-content: center;
  margin-right: 8px;
  width: 32px;
}
.event_two_box .event_two_box_content h3 {
  color: #fff;
  margin-bottom: 0;
}
.event_two_box:after {
  background-color: #2234ae;

  border-radius: 6px;
  bottom: -16px;
  content: "";
  height: 100%;
  left: -16px;
  opacity: 0;
  position: absolute;
  transition: 0.3s;
  width: 100%;
  z-index: -1;
}
.event_two_box:hover {
  transform: scale(0.96);
}
.event_two_box:hover:after {
  opacity: 1;
}
.event_two_box:hover .event_two_box_content {
  background: linear-gradient(180deg, transparent, rgba(23, 24, 35, 0.9) 70%);
  opacity: 1;
  transform: translateY(0);
}
.event_two_slider .event_one_box {
  box-shadow: 0 0.225rem 0.25rem rgba(43, 45, 66, 0.075);
  overflow: hidden;
  position: relative;
}
.event_two_slider .event_one_box:after {
  background: linear-gradient(
    0deg,
    #2234ae; 25%,
    transparent 26%,
    transparent 49%,
    #2234ae; 50%,
    #2234ae; 75%,
    transparent 76%
  );
  background-size: 1em 1em;
  border-radius: 100px;
  content: "";
  height: 100px;
  opacity: 0.7;
  position: absolute;
  right: -80px;
  top: 0;
  transform: scale(0.7);
  transition: 0.3s;
  width: 100px;
}
.event_two_slider .event_one_box:before {
  background: #2234ae;

  border-radius: 0 10px 0 0;
  bottom: 0;
  content: "";
  height: 100px;
  left: 0;
  position: absolute;
  width: 100px;
  z-index: 0;
}
.event_two_slider .event_one_box:hover:after {
  opacity: 1;
  transform: scale(1) translateX(-50px);
}
.events_body {
  margin-bottom: -32px;
  position: relative;
}
.event_minimal_link img {
  transition: 0.8s;
}
.event_minimal_link .em_content {
  bottom: 0;
  height: 100%;
  left: 0;
  padding: 0;
  width: 100%;
}
.event_minimal_link .em_content h3 {
  bottom: 32px;
  left: 32px;
  margin-bottom: 0;
  max-width: 180px;
  position: absolute;
  width: 100%;
}
.event_minimal_link .em_content p {
  align-items: center;
  background-color: #fff;
  border-radius: 100px;
  box-shadow: 0 0.225rem 0.25rem rgba(43, 45, 66, 0.075);
  color: #2234ae;

  display: flex;
  font-size: 11px;
  gap: 4px;
  letter-spacing: 0.1em;
  line-height: 1;
  padding-right: 6px;
  position: absolute;
  right: 32px;
  text-transform: uppercase;
  top: 32px;
}
.event_minimal_link .em_content p i {
  align-items: center;
  background-color: #fcf5f7;
  border-radius: 100px;
  display: flex;
  font-size: 15px;
  height: 32px;
  justify-content: center;
  width: 32px;
}
.event_minimal_link:hover img {
  transform: scale(1.1) rotate(-2deg);
}
.event_filter a {
  background-color: #fcf5f7;
  border-radius: 4px;
  box-shadow: 0 0.225rem 0.25rem rgba(43, 45, 66, 0.075);
  color: #2234ae;

  display: inline-block;
  font-size: 14px;
  font-weight: 600;
  padding: 8px 16px;
}
.event_filter a.active,
.event_filter a:hover {
  background-color: #2234ae;

  color: #fcf5f7;
}
.event_gallery_slider a {
  background-color: #171823;
  display: block;
  overflow: hidden;
}
.event_gallery_slider a img {
  transition: 0.3s;
}
.event_gallery_slider a:hover img {
  opacity: 0.5;
  transform: rotate(-1deg) scale(1.1);
}
.services_col {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0.225rem 0.25rem rgba(43, 45, 66, 0.075);
  display: flex;
  padding: 32px;
}
.services_col i {
  align-items: center;
  background-color: #fcf5f7;
  border-radius: 5px;
  color: #2234ae;

  display: flex;
  flex-shrink: 0;
  font-size: 24px;
  height: 48px;
  justify-content: center;
  width: 48px;
}
.services_col .services_col_content {
  margin-left: 16px;
}
.sv_box_img {
  bottom: 40%;
  margin-bottom: -75px;
  position: absolute;
  right: 0;
}
.sv_box_img img {
  height: auto;
  width: 150px;
}
.sv_card_box {
  align-items: center;
  background-color: #fff;
  bottom: 0;
  display: flex;
  gap: 16px;
  left: 0;
  padding: 16px;
  position: absolute;
}
.sv_card_box img {
  flex-grow: 0;
  height: 100px;
  width: 100px;
}
.sv_card_box .sv_inner_box {
  flex-grow: 0;
}
.sv_card_box .sv_inner_box ul {
  margin-bottom: 0;
}
.sv_card_box .sv_inner_box ul i {
  color: #eeee13;
}
.sv_box .sv_sub {
  color: #2b2d42;
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 1px;
  margin-bottom: 4px;
  text-transform: uppercase;
}
.sv_box .sv_img {
  overflow: hidden;
}
.sv_box .sv_img,
.sv_box .sv_img i {
  align-items: center;
  display: flex;
  justify-content: center;
}
.sv_box .sv_img i {
  border-radius: 8px;
  color: #fff;
  font-size: 24px;
  height: 48px;
  position: absolute;
  width: 48px;
}
.sv_box .sv_img img {
  filter: grayscale(100%);
  height: 240px;
  object-fit: cover;
  transition: 0.6s;
  width: 100%;
}
.sv_box .sv_img img.img_tall {
  height: 320px;
}
.sv_box .sv_img:hover img {
  filter: grayscale(0);
  transform: scale(1.1) rotate(2deg);
}
.sv_box.sv_box_two .sv_sub {
  color: #2234ae;
}
.sv_box.sv_box_two .sv_img {
  align-items: start;
  justify-content: end;
}
.sv_box.sv_box_two .sv_img i {
  border-radius: 0 0 0 6px;
}
.sv_box.sv_box_two .sv_img:after {
  border: 10px solid #e6cb52;
  border-radius: 100px;
  bottom: 48px;
  content: "";
  height: 48px;
  left: 24px;
  opacity: 0.9;
  position: absolute;
  width: 48px;
}
.sv_box.sv_box_two .sv_box_content {
  background-color: #fff;
  background-image: url(../img/bg/bg7.png);
  background-position: 100%;
  background-repeat: no-repeat;
  background-size: 50%;
  border-radius: 6px;
  margin: -32px 16px 0;
}
.sv_box.sv_box_two .sv_box_content,
.sv_box_three {
  box-shadow: 0 0.225rem 0.25rem rgba(43, 45, 66, 0.075);
  position: relative;
}
.sv_box_three .sv_box_content {
  bottom: 32px;
  left: 32px;
  position: absolute;
}
.sv_box_three .sv_img i {
  right: 32px;
  top: 32px;
}
.team_social_list {
  display: flex;
  gap: 8px;
  justify-content: center;
  margin-bottom: 0;
  margin-top: -20px;
}
.team_social_list li a {
  align-items: center;
  background-color: #2234ae;

  border-radius: 100px;
  color: #fff;
  display: flex;
  height: 40px;
  justify-content: center;
  width: 40px;
}
.team_social_list li a:hover {
  background-color: #fcf5f7;
  color: #2234ae;

  transform: translateY(-5px);
}
.team_col img {
  border-radius: 1rem 1rem 150px 150px;
  height: 450px;
  max-width: 100%;
  object-fit: cover;
  object-position: center 8%;
  transition: 0.8s;
  width: 100%;
}
.team_col:hover img {
  border-radius: 1rem;
}
.contact_form input,
.contact_form textarea {
  border: 1px solid #b6b8cf;
  box-shadow: none;
  width: 100%;
}
.contact_form button {
  border: none;
  transition: 0.3s;
}
.add_box {
  border: 1px solid #fcf5f7;
  border-radius: 8px;
  box-shadow: 0 0.225rem 0.25rem rgba(43, 45, 66, 0.075);
  padding: 32px;
}
.add_box h4 {
  margin-bottom: 32px;
}
.add_box .add_list li {
  align-items: start;
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  margin-bottom: 8px;
}
.add_box .add_list li i {
  align-items: center;
  background-color: #fcf5f7;
  border-radius: 4px;
  box-shadow: 0 0.125rem 0.15rem rgba(43, 45, 66, 0.075);
  color: #2234ae;

  display: flex;
  flex-shrink: 0;
  height: 32px;
  justify-content: center;
  width: 32px;
}
.img_contact {
  margin-bottom: -48px;
}
.img_contact img {
  height: 300px;
  object-fit: cover;
  width: 100%;
}
.img_contact .line_bg {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  transition: 0.8s;
  width: 100%;
}
.contact_ava {
  border: 4px solid #fff;
  border-radius: 16px;
  box-shadow: 0 0.125rem 0.15rem rgba(43, 45, 66, 0.075);
  height: 80px;
  object-fit: cover;
  width: 80px;
}
.pricing_table h3 i {
  align-items: center;
  background-color: #2234ae;

  border-radius: 4px;
  color: #fff;
  display: flex;
  font-size: 24px;
  height: 48px;
  justify-content: center;
  width: 48px;
}
.pricing_table .pt_duration {
  background-color: #fcf5f7;
  border-radius: 4px;
  box-shadow: 0 0.125rem 0.15rem rgba(43, 45, 66, 0.075);
  color: #2234ae;

  font-size: 14px;
  font-weight: 700;
  line-height: 1;
  padding: 8px;
}
.pricing_table .pricing_list li {
  align-items: center;
  display: flex;
  gap: 8px;
  margin-bottom: 8px;
}
.pricing_table .pricing_list li:last-child {
  margin-bottom: 0;
}
.testi_col {
  border: 1px solid #fcf5f7;
}
.testi_col i {
  align-items: center;
  color: #2234ae;

  display: flex;
  flex-shrink: 0;
  font-size: 20px;
  height: 33px;
  justify-content: center;
}
.testi_col .testi_inner h5 {
  margin-bottom: 4px;
}
.testi_col .testi_inner img {
  border: 5px solid #fff;
  border-radius: 100px;
  box-shadow: 0 0.5rem 1rem rgba(43, 45, 66, 0.15);
  max-width: 60px;
}
.testi_col .testi_inner span {
  background-color: #fcf5f7;
  border-radius: 6px;
  color: #2234ae;

  font-size: 12px;
  padding: 4px 8px;
}
.testi_circle {
  margin-bottom: -40px;
  margin-right: 40px;
}
.testi_slide .testi_box {
  background-image: url(../../img/bg/testi.html);
  background-position: 100% 100%;
  background-repeat: no-repeat;
  border: 1px dashed #b6b8cf;
  border-radius: 16px;
  padding: 32px;
}
.testi_slide .testi_box .testi_head {
  margin-bottom: 32px;
}
.testi_slide .testi_box .testi_head img {
  width: 80px;
}
.testi_slide .testi_box .testi_head .testi_name p {
  background-color: #fcf5f7;
  border-radius: 4px;
  color: #2234ae;

  display: inline-block;
  font-size: 14px;
  padding: 4px 8px;
}
.testi_slide .testi_pagination {
  margin-top: 16px;
  position: relative;
}
.testi_slide .testi_pagination .swiper-pagination-bullet {
  background-color: #b6b8cf;
  border-radius: 0;
  height: 2px;
  margin: 0 3px;
  width: 16px;
}
.testi_slide .testi_pagination .swiper-pagination-bullet-active {
  background-color: #2234ae;
}
.routes_col .routes_img {
  overflow: hidden;
  position: relative;
  width: 40%;
}
.routes_col .routes_img span {
  background-color: #2b2d42;
  border-radius: 4px;
  bottom: 16px;
  color: #fff;
  font-size: 10px;
  left: 16px;
  padding: 4px 8px;
  position: absolute;
  z-index: 1;
}
.routes_col .routes_img img {
  height: 100%;
  object-fit: cover;
  transition: 0.3s;
  width: 100%;
}
.routes_col .routes_img:hover img {
  transform: scale(1.1);
}
.routes_col .routes_box {
  width: 70%;
}
.routes_col .routes_box i {
  color: #2234ae;

  display: flex;
  font-size: 24px;
  margin-left: 32px;
  margin-top: 32px;
}
.routes_col .routes_box h4 {
  margin: 0;
  padding: 16px 32px 32px;
}
.routes_col .routes_box p {
  font-size: 12px;
  font-weight: 700;
  margin-bottom: 0;
  padding: 16px 32px;
  text-align: center;
  text-transform: uppercase;
}
.routes_nav {
  display: flex;
  gap: 8px;
}
.routes_nav a {
  align-items: center;
  background-color: #fcf5f7;
  border-radius: 100px;
  color: #2234ae;

  display: flex;
  height: 40px;
  justify-content: center;
  width: 40px;
}
.routes_nav a:hover {
  background-color: #2234ae;

  color: #fff;
}
.rdn_accordion .accordion-button {
  box-shadow: none;
  color: #5e607e;
}
.rdn_accordion .accordion-button span {
  align-items: center;
  border: 2px solid;
  border-radius: 8px;
  color: #2234ae;

  display: flex;
  flex-shrink: 0;
  font-family: Manrope, sans-serif;
  font-size: 20px;
  font-weight: bolder;
  height: 40px;
  justify-content: center;
  letter-spacing: -0.08rem;
  width: 40px;
}
.rdn_accordion .accordion-button:after {
  background-size: 12px;
  height: 12px;
  width: 12px;
}
.rdn_accordion .accordion-button:not(.collapsed) {
  background-color: #fcf5f7;
  border-color: #2234ae;

  color: #2b2d42;
}
.rdn_accordion .accordion-button:hover {
  color: #2b2d42;
}
.rdn_accordion .accordion-item {
  border: 0;
  border-radius: 8px;
  box-shadow: 0 0.125rem 0.15rem rgba(43, 45, 66, 0.075);
  color: #5e607e;
  font-size: 1rem;
  margin-bottom: 16px;
  overflow: hidden;
}
.rdn_accordion .accordion-item .accordion-body {
  padding: 32px;
}
.footer_gray_social {
  display: flex;
  gap: 8px;
  justify-content: center;
}
.footer_gray_social li a {
  align-items: center;
  background-color: #fff;
  border-radius: 100px;
  box-shadow: 0 0.225rem 0.25rem rgba(43, 45, 66, 0.075);
  color: #5e607e;
  display: flex;
  height: 32px;
  justify-content: center;
  width: 32px;
}
.footer_gray_social li a:hover {
  transform: translateY(-4px);
}
.footer_list li {
  align-items: center;
  display: flex;
  gap: 8px;
  margin-bottom: 12px;
}
.footer_list li:before {
  align-self: center;
  color: #2234ae;

  content: "\f105";
  display: flex;
  font-family: Font Awesome\5 Free;
  font-size: 10px;
  font-weight: 700;
  transform: translateX(0);
  transform-origin: left;
  transition: 0.3s;
}
.footer_list li:hover:before {
  transform: translateX(2px);
}
.footer_list li a {
  color: hsla(0, 0%, 100%, 0.5);
}
.footer_list li a:hover {
  color: #2234ae;
}
.footer_list.footer_list_white li a {
  color: #6a6b7c;
}
.footer_list.footer_list_white li a:hover {
  color: #2234ae;
}
.footer_title {
  border-bottom: 1px solid hsla(0, 0%, 100%, 0.05);
  padding-bottom: 16px;
}
.bg_footer_two {
  background-color: #fff;
}
.bg_footer_two .footer_title {
  border-bottom: 1px solid #fcf5f7;
}
.footer_text {
  border-top: 1px solid hsla(0, 0%, 100%, 0.05);
}
.footer_text.footer_text_white {
  border-color: #fcf5f7;
}
.gal_img {
  border-radius: 8px;
  display: block;
  overflow: hidden;
}
.gal_img img {
  border-radius: 8px;
  transition: 0.3s;
}
.gal_img:hover img {
  opacity: 0.4;
  transform: scale(1.05);
}
.footer_add_list li {
  align-items: center;
  display: flex;
  gap: 8px;
  margin-bottom: 12px;
}
.footer_add_list li i {
  align-items: center;
  background-color: #fcf5f7;
  border-radius: 4px;
  box-shadow: 0 0.225rem 0.25rem rgba(43, 45, 66, 0.075);
  color: #2234ae;

  display: flex;
  font-size: 14px;
  height: 24px;
  justify-content: center;
  width: 24px;
}
.footer_sub_form {
  border-radius: 8px;
  font-size: 14px;
  max-width: 300px;
  width: 100%;
}
.footer_sub_form input {
  background-color: #fcf5f7;
  border: 1px solid #fcf5f7;
  border-radius: 8px 0 0 8px;
  display: flex;
  flex-grow: 1;
  flex-shrink: 1;
  padding: 8px 16px;
  width: 50%;
}
.footer_sub_form button {
  background-color: #2234ae;

  border: none;
  border-radius: 0 8px 8px 0;
  color: #fff;
  padding: 8px 16px;
  transition: 0.3s;
}
.footer_sub_form button:hover {
  background-color: #2b2d42;
}
.blog_img {
  overflow: hidden;
}
.blog_img .blog_author_icon {
  align-items: center;
  bottom: 32px;
  display: flex;
  left: 32px;
  position: absolute;
  z-index: 1;
}
.blog_img .blog_author_icon i {
  align-items: center;
  background-color: #2234ae;

  border-radius: 100px;
  color: #fff;
  display: flex;
  font-size: 18px;
  height: 40px;
  justify-content: center;
  width: 40px;
  z-index: 3;
}
.blog_img .blog_author_icon span {
  background-color: #171823;
  color: #fff;
  font-weight: 700;
  line-height: 1;
  margin-left: -10px;
  padding: 8px 8px 8px 18px;
}
.blog_img .blog_featured_img {
  filter: grayscale(100%);
  transition: 0.6s;
}
.blog_img .line_bg {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  transition: 0.8s;
  width: 100%;
}
.blog_img:hover .blog_featured_img {
  filter: grayscale(0);
  transform: scale(1.1) rotate(2deg);
}
.blog_img:hover .line_bg {
  opacity: 0;
  transform: scale(1.5);
}
.blog_meta {
  color: #9395af;
  flex-wrap: wrap;
}
.blog_meta li {
  align-items: center;
  display: flex;
  line-height: 1;
  padding-right: 8px;
}
.blog_meta li,
.blog_meta li i {
  border-radius: 4px;
  font-size: 13px;
}
.blog_meta li i {
  background-color: #fcf5f7;
  box-shadow: 0 0.125rem 0.15rem rgba(43, 45, 66, 0.075);
  color: #2234ae;

  margin-right: 8px;
  padding: 4px;
}
.blog_meta.blog_meta_top li {
  font-size: 16px;
}
.blog_meta.blog_meta_top li i {
  align-items: center;
  border-radius: 8px;
  display: flex;
  font-size: 16px;
  height: 40px;
  justify-content: center;
  padding: 0;
  width: 40px;
}
.blog_small_img {
  height: 200px;
  max-width: 100%;
  object-fit: cover;
  width: 100%;
}
.blog_widget_img {
  flex-grow: 0;
  flex-shrink: 0;
}
.blog_widget_img img {
  flex-grow: 0;
  height: 100px;
  object-fit: cover;
  width: 100px;
}
.blog_widget_date {
  align-items: center;
  display: inline-flex;
  font-size: 13px;
  gap: 8px;
  line-height: 1;
}
.blog_widget_date i {
  align-items: center;
  background-color: #fcf5f7;
  border-radius: 10px;
  color: #2234ae;

  display: flex;
  font-size: 16px;
  height: 32px;
  justify-content: center;
  width: 32px;
}
.blog_content h3:hover {
  color: #2234ae;
}
.widget {
  border-bottom: 1px solid #fcf5f7;
}
.widget_list li {
  align-items: center;
  display: flex;
  gap: 8px;
  margin-bottom: 8px;
}
.widget_list li:before {
  color: #2234ae;

  content: "\f105";
  display: flex;
  font-family: Font Awesome\5 Free;
  font-size: 10px;
  font-weight: 700;
}
.tag_list {
  flex-wrap: wrap;
  gap: 8px;
}
.tag_list a {
  background-color: #fcf5f7;
  border-radius: 4px;
  box-shadow: 0 0.125rem 0.15rem rgba(43, 45, 66, 0.075);
  color: #2234ae;

  display: inline-block;
  font-size: 14px;
  line-height: 1;
  padding: 8px 16px;
}
.tag_list a:hover {
  background-color: #2234ae;

  color: #fff;
}
.blog_post {
  border-bottom: 1px solid #fcf5f7;
  margin-bottom: 32px;
  padding-bottom: 32px;
}
.page_nav_list {
  flex-wrap: wrap;
  font-size: 14px;
  font-weight: 600;
  gap: 4px;
}
.page_nav_list a {
  align-items: center;
  background-color: #fcf5f7;
  border-radius: 8px;
  box-shadow: 0 0.125rem 0.15rem rgba(43, 45, 66, 0.075);
  color: #2234ae;

  display: flex;
  flex-grow: 0;
  flex-shrink: 0;
  height: 40px;
  justify-content: center;
  width: 40px;
}
.page_nav_list a:hover {
  background-color: #2234ae;

  color: #fff;
}
.page_nav_list a.single_blog_nav {
  gap: 8px;
  padding: 0 16px;
  width: auto;
}
.page_nav_list .active a {
  background-color: #2234ae;

  color: #fff;
  cursor: pointer;
}
.related_post {
  border-bottom: 1px solid #fcf5f7;
  border-color: #fcf5f7 currentcolor;
  border-top: 1px solid #fcf5f7;
}
.comment_list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.comment_list li {
  margin-bottom: 32px;
}
.comment_list li .top_comment {
  align-items: center;
  display: flex;
  margin-bottom: 16px;
}
.comment_list li .top_comment .avatar img {
  border-radius: 100px;
  height: 64px;
  object-fit: cover;
  width: 64px;
}
.comment_list li .top_comment .top_comment_content {
  flex-grow: 1;
  margin-left: 16px;
  position: relative;
}
.comment_list li .top_comment .top_comment_content h4 {
  font-size: 20px;
  font-weight: 400;
  letter-spacing: -0.008em;
  margin-bottom: 8px;
}
.comment_list li .top_comment .top_comment_content span {
  align-items: center;
  color: #8d8faa;
  display: flex;
  font-size: 14px;
  letter-spacing: -0.03em;
  line-height: 1;
}
.comment_list li .top_comment .top_comment_content span i {
  font-size: 16px;
  margin-right: 4px;
}
.comment_list li .top_comment .top_comment_content a {
  background-color: #fcf5f7;
  border-radius: 100px;
  color: #2234ae;

  font-size: 12px;
  font-weight: 700;
  padding: 5px 20px;
  position: absolute;
  right: 0;
  top: 0;
  transition: 0.3s;
}
.comment_list li .top_comment .top_comment_content a:hover {
  background-color: #2234ae;

  color: #fff;
}
.comment_list li ul {
  list-style: none;
  margin-left: 32px;
  margin-top: 32px;
}
.comment_list .bottom_comment {
  border-bottom: 1px solid #fcf5f7;
  padding-bottom: 32px;
}
.comment_list > li:last-child .bottom_comment {
  border-bottom: 0;
  padding-bottom: 0;
}
.comment_box_form {
  border-top: 1px solid #fcf5f7;
}
.comment_box_form h4 {
  margin-bottom: 4px;
}
.comment_box_form p {
  color: #b1b2c4;
}
.comment_box_form .comment-form input,
.comment_box_form .comment-form textarea {
  margin-bottom: 16px;
  padding: 8px 16px;
}
.comment_box_form ::placeholder {
  color: #9395af;
}
.comment_submit {
  border: none;
  box-shadow: none;
  transition: 0.3s;
}
@media (max-width: 991px) {
  .container {
    padding-left: 32px;
    padding-right: 32px;
  }
  .event_one_slider {
    margin-right: 0;
  }
  .event_one_slider .event_one_box img,
  .team_col img {
    height: 300px;
  }
  .mt-min-42 {
    margin-top: 0;
  }
  .home_img_absolute {
    left: 0;
    max-width: 100%;
    position: relative;
    top: 0;
  }
  .home_img_absolute:after {
    right: 0;
    width: 100%;
  }
  .abt_box .abt_box_link .abt_box_content .abt_text {
    align-items: start;
    flex-direction: column;
  }
  .abt_box .abt_box_link .abt_box_content .abt_text h3,
  .abt_box .abt_box_link .abt_box_content .abt_text p {
    width: 100%;
  }
  .pricing_table {
    margin: auto;
    max-width: 300px;
  }
  .box_home_strech {
    margin: 32px 0 0;
  }
  .box_home_strech img {
    height: 300px;
  }
}
@media (max-width: 767px) {
  .img_with_video {
    height: 400px;
  }
  .ls-wide {
    letter-spacing: 0.2rem;
  }
}
@media (max-width: 500px) {
  .img_with_video {
    height: 340px;
  }
}

.card-img,
.card-img-top,
.card-img-bottom {
  width: 70%;
}
.card-img,
.card-img-top {
  border-top-left-radius: 0.625rem;
  border-top-right-radius: 0.625rem;
}
.card-img,
.card-img-bottom {
  border-bottom-right-radius: 0.625rem;
  border-bottom-left-radius: 0.625rem;
}
